.package-container {
  margin: 24px 0 0;
  display: flex;
  gap: 12px;
  width: 100%;

  .package {
    width: 33%;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding: 20px;
    text-align: center;

    h2 {
      margin: 10px 0;
      font-size: 24px;
      color: #333;
    }

    .price {
      font-size: 24px;
      color: #333;
      margin: 15px 0;
    }

    .description {
      font-size: 14px;
      color: #666;
      margin: 15px 0;
    }
  }
}
