.Home-layout {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10%;
}

.Card-container-home {
  width: 50%;

  .Bagde-card-container-home {
    padding: 8px 24px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(black, 0.08);
    background-color: white;
    color: grey;
    font-size: 16px;
    font-weight: bold;
  }

  .title-card-container-home {
    margin: 40px 0 120px;
    font-size: 40px;
    font-weight: 400;
    color: black;
    font-family: var(--font-title);

    span {
      color: var(--blue-main-color);
    }
  }
}

.Card-container-img {
  width: 50%;
  text-align: right;

  img {
    width: 80%;
    border-radius: 24px;
  }
}

.search-layout-home {
  position: absolute;
  bottom: 90%;
  padding: 8px 24px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(black, 0.08);
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  height: 7%;
  width: 17%;
  transform: translateY(-180px);

  .search-content-container {
    padding: 0 16px;
    width: 288px;
    height: 60px;
    border: none;
    border-radius: 12px 0 0 12px;
    border-right: 1px solid rgba(black, 0.08);
    font-family: var(--font-content);
  }

  .search-layout-home-btn {
    display: flex;
    align-items: center;
    padding: 0 28px;
    height: 60px;
    border: none;
    border-radius: 0 12px 12px 0;
    background-color: var(--blue-main-color);
    color: #fff;
    font-size: large;
    cursor: pointer;
  }
}

.text-gradient {
  background: linear-gradient(to bottom, rgba(36, 162, 1, 0.819), rgb(166, 255, 121));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  display: inline-block;
  color: rgba(36, 162, 1, 0.819);
}

.text-gradient:hover,
.text-gradient::selection {
  color: rgba(36, 162, 1, 0.819);
  -webkit-text-fill-color: rgba(36, 162, 1, 0.819);
}