body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.packet-page {
    width: 100%;
}

.banner-content {
    background-color: #c6defbcd;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 39%;
}

.packet-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.packet {
    background-color: #f5f0ff;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
}

.packet .badge {
    display: inline-block;
    background-color: #fff;
    color: #333;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    font-size: 12px;
}

.packet h2 {
    margin: 10px 0;
    font-size: 24px;
    color: #333;
}

.packet .price {
    font-size: 24px;
    color: #333;
    margin: 15px 0;
}

.packet .description {
    font-size: 14px;
    color: #666;
    margin: 15px 0;
}

.packet .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #805df5;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.packet .btn:hover {
    background-color: #6741c7;
}

.contact {
    margin-top: 10px;
    font-size: 12px;
    color: #805df5;
    cursor: pointer;
}

.contact:hover {
    text-decoration: underline;
}

.card {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .package-info {
        margin: 0 0 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .item {
            width: fit-content;
            display: flex;
            justify-content: center;
        }

        .cancel {
            padding: 12px;
            background-color: white;
            border: none;
            color: var(--blue-main-color);
            font-size: x-large;
            cursor: pointer;
        }
    }

    .details {
        display: flex;
        flex-wrap: wrap;

        .item-100 {
            margin-bottom: 12px;
            width: 100%;
        }

        .item-75 {
            margin-bottom: 12px;
            width: 75%;
        }

        .item-50 {
            margin-bottom: 12px;
            width: 50%;
        }

        .item-25 {
            margin-bottom: 12px;
            width: 25%;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 8px;
        }

        .input {
            margin: 0 0 4px;
            padding: 12px;
            width: calc(100% - 20px);
            min-height: 40px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 1em;
            resize: vertical;

            &:focus-visible {
                outline: 1px solid var(--blue-main-color);
            }
        }
    }
}

.select-pay-method {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;

    .pay-methods {
        width: 600px;
        min-width: 400px;
        margin: 0 0 20px 0;
        padding: 24px;
        background-color: white;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;

        .title {
            margin: 0 0 16px 0;
            font-size: 24px;
        }

        .method-item {
            margin: 16px 0 8px 0;
            padding: 8px 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid gray;
            border-radius: 8px;
            cursor: pointer;

            .name {
                display: flex;
                align-items: center;
                gap: 8px;

                span {
                    color: black;
                    font-size: large;
                    font-weight: 600;
                }
            }

            img {
                width: 40px;
                height: 40px;
                object-fit: contain;
            }
        }

        .sub-item {
            margin: 0 0 8px 10%;
            padding: 4px 12px;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid gray;
            border-radius: 8px;
            cursor: pointer;

            .name {
                display: flex;
                align-items: center;
                gap: 8px;

                span {
                    color: black;
                    font-size: medium;
                    font-weight: 600;
                }
            }

            img {
                width: 40px;
                height: 40px;
                object-fit: contain;
            }
        }
    }

    .pay-section {
        width: 600px;
        min-width: 400px;
        padding: 24px;
        background-color: white;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;

        .confirm-price {
            margin: 0 0 16px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 20px;
            color: black;
            font-weight: 600;
        }

        .pay-btn,
        .back-btn {
            margin: 0 0 8px 0;
            width: 100%;
            height: 48px;
            border: none;
            outline: none;
            border-radius: 8px;
            border: 1px solid #805df5;
            background-color: #805df5;
            color: white;
            font-size: larger;
            font-weight: bold;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.02);
            }

            &:disabled {
                transform: none;
                opacity: 0.8;
                cursor: not-allowed;
            }
        }

        .back-btn {
            border: 1px solid #805df5;
            background-color: white;
            color: #805df5;

            &:hover {
                border: 1px solid red;
                background-color: red;
                color: white;
            }
        }
    }
}