.bookings-stats {
  width: 25%;
  border-radius: 12px;

  .card {
    background-color: whitesmoke;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
}
