.admin-package-edit-wrapper {
  .card {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .package-info {
      margin: 0 0 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        display: flex;
        justify-content: center;
      }

      .cancel {
        padding: 12px;
        background-color: white;
        border: none;
        color: var(--blue-main-color);
        font-size: x-large;
        cursor: pointer;
      }
    }

    .details {
      display: flex;
      flex-wrap: wrap;

      .item-100 {
        margin-bottom: 12px;
        width: 100%;
      }

      .item-75 {
        margin-bottom: 12px;
        width: 75%;
      }

      .item-50 {
        margin-bottom: 12px;
        width: 50%;
      }

      .item-25 {
        margin-bottom: 12px;
        width: 25%;
      }

      label {
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
      }

      .input {
        margin: 0 0 4px;
        padding: 12px;
        width: calc(100% - 20px);
        min-height: 40px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 1em;
        resize: vertical;

        &:focus-visible {
          outline: 1px solid var(--blue-main-color);
        }
      }

      .error-message {
        width: 100%;
        color: red;
        font-size: 0.8em;
        margin-top: 5px;
      }
    }

    .btn-group {
      width: 100%;
      display: flex;
      gap: 8px;
      justify-content: end;

      button {
        background: var(--blue-main-color);
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
      }

      .cancel {
        background-color: white;
        color: red;

        &:hover {
          background: white;
          text-decoration: underline;
          text-underline-offset: 4px;
        }
      }
    }
  }
}
